<app-menu></app-menu>
<div class="container">
  <main>
    <section class="hero">
      <div class="hero-overlay">
        <h1>more healthy. <br>better grades.</h1>
        <p class="subtitle">
          Studywell is a free &<br>
          encompass menton health<br>
          safe-assessment for students.
        </p>
      </div>
    </section>
    <section class="important">
      <p class="additional-text" id="what-is-it">We'll help you find out how likely it is that you have depression,<br>
        without dismissing the importance of a professional diagnosis.</p>
    </section>
    <section class="definition" id="what-is-it">
      <h2>What is Depression?</h2>
      <div class="definition-text">
        <p class="subtitle" id="symptoms">
          Depressive disorder (also known as depression) is a common mental disorder.<br>
          It involves a depressed mood or loss of pleasure or interest in activities for long periods of time.<br><br>

          Depression is different from regular mood changes and feelings about everyday life. It can affect all aspects of life, including relationships with family, friends and community. It can result from or lead to problems at school and at work.
        </p>
      </div>
    </section>
    <section class="definition symptoms">
      <h2>A few symptoms...</h2>
      <div class="definition-text">
        <ul>
          <li>poor concentration</li>
          <li>feelings of excessive guilt or low self-worth</li>
          <li>hopelessness about the future</li>
          <li>thoughts about dying or suicide</li>
          <li>disrupted sleep</li>
          <li>changes in appetite or weight</li>
          <li id="test">feeling very tired or low in energy</li>
        </ul>
      </div>
    </section>
    <section class="dados">
      <div>
        <app-formulario></app-formulario>

      </div>
    </section>
  </main>
</div>